python-data-recorder/logs
python-data-recorder/venv

frontend/elm-stuff

web-server/data_logger/__pycache__
web-server/web_server/__pycache__
web-server/venv
web-server/db.sqlite3

*.log
*__pycache__*
*.sublime*
*.stackdump
*.backup
*.sqlite3